@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

* {
margin: 0;
padding: 0;
font-family: 'Cinzel', serif;
box-sizing: border-box;
}


@media (min-width: 320px) and (max-width: 999px) {

  // Mobile and tablet CSS //

}

@media (min-width: 1000px) {

  // Laptop/desktop CSS //

}

.banner{
  width: 100%;
  height: 100vh;
  color: white;
  font-size:  25px;
  font-weight: bold;
  background-size: cover;
  background-image: linear-gradient(163deg, #521736 52%, #28282A 35%);
  background-position: center;
  overflow: auto;
  overflow-y: scroll;
}

.logo{
  float: left;
  cursor: cell;
  color: #FFFFFF;
  font-size: 1.3em;
  font-weight: bolder;
        padding-left: 2%;
}


.row {
  margin-top:  1.5%;
  margin-left: 2%;
  margin-right: 2%;
  }


.column {
  padding: 1%;
  background-color: #0009;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0.5%;
  display: inline-block;
  float: center;
  text-align: center;
  font-size: 1.6em;
  font-weight:  bold;
}

.about {
  float: center;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  background-color: #0009;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: center;
  font-size: 0.8em;
  font-weight:  bold;
}
/* navbar start */

.navbar{
  width: 100%;
  line-height: 10vh;
  margin: auto;
  background-color: #0009;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul{
  float: right;
  margin-right: 0.5%;
}
.navbar ul li{
  list-style: none;
  display: inline-flex;
  margin: 0 0.6em;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  font-size: 0.8em;            
  color: white;
  text-transform: uppercase;
}

.navbar ul li::after{
  content: '';
  height: 10%;
  width: 0%;
  background: #28282A;
  position: absolute;
  left: 0;
  bottom: -1%;
  transition: 0.5s;
}

.navbar ul li:hover::after{
  width: 100%;
}

/* navbar finish */

.footer {
  float: center;
  padding-left: 40px;
}